.icon {
    display: flex;
    gap: 10px;
}

.icon:before {
    content: "";
    display: block;
    flex-shrink: 0;
    height: 26px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon--calendar:before {
    background-image: url("../../img/calendar.png");
    width: 26px;
}

.icon--meal:before {
    background-image: url("../../img/meal.png");
    width: 36px;
}