html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #001821;
    background-image: url("../img/main-theme.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothig: grayscale;
}

.wrapper {
    background-image: url("../img/bottom-pic.jpg");
    background-repeat: no-repeat;
    background-position: 60% 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 95%;
}

.button {
    border: 1px solid transparent;
    background-color: #f5170e;
    border-radius: 35px;
    padding: 15px 40px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.page-header {
    min-height: 125px;
    margin-bottom: 46px;
}

.page-header__container {
    display: flex;
    align-items: flex-start;
    gap: 510px;
    padding-top: 45px;
} 

.menu-container {
    display: flex;
    gap: 80px;
}

.site-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 265px;
    padding-top: 5px;
    font-size: 14px;
}

.site-nav__link:hover {
    color: #da0100;
}

.logo {
    height: 36px;
    width: 85px;
}

.page-header__contacts {
    min-width: 192px;
}

.contacts__link {
    font-size: 26px;
}

.contacts__text {
    font-size: 13px;
    color: #98a4a8;
    text-decoration: underline;
}

.contacts__text:hover {
    color: #fff;
}

.promo__block {
    padding-top: 10px; 
    margin-bottom: 247px;
    width: 515px;
}

.promo__title {
    font-size: 72px;
    margin-bottom: 28px;
}

.promo__text {
    font-size: 18px;
    margin-bottom: 30px;
}

.offers__title {
    margin-bottom: 50px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

* {
    box-sizing: inherit;
}

.section-title--icon:after {
    content: "";
    display: block;
    width: 21px;
    height: 28px;
    background-image: url('../img/flame.png');
}

.offers {
    margin-bottom: 130px;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {
    max-width: 362px;
    width: 100%;
}

.offer__title {
    margin-bottom: 27px;
    font-size: 24px;
    color: #000;
}

.offer__image {
    height: 144px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 25%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.offer__wrapper {
    background-color: #ffffff;
    padding-top: 33px;
    padding-bottom: 26px;
    padding-left: 22px;
    padding-right: 22x;
}

.offer__services {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 24px;
    color: #666;
}

.icon {
    display: flex;
    gap: 9px;
}

.icon:before {
    content: "";
    display: block;
    flex-shrink: 0;
    height: 26px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon--calendar:before {
    background-image: url("../img/calendar.png");
    width: 26px;
}

.icon--meal:before {
    background-image: url("../img/meal.png");
    width: 36px;
}

.offer__text {
    margin-bottom: 25px;
    width: 325px;
    font-size: 14px;
    color: #303030;
}

.offer__button {
    color: #f5170e;
    background-color: #fff;
    padding: 18px 30px;
    border: 1px solid #f5170e;
}

.offer__button--active {
    background-color: #f5170e;
    color: #ffffff;
}

.news {
    margin-bottom: 125px;
}

.news__title {
    margin-bottom: 500px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.news__item {
    width: 557px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
}

.news__item--plane {
    background-image: url("../img/plain.png");
}

.news__item--surf {
    background-image: url("../img/surfer.png");
}

.news__block {
    padding-top: 250px;
    padding-left: 30px;
    padding-right: 27px;;
    padding-bottom: 25px;
}

.news__text {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 14px;
}

.news__title {
    font-size: 24px;
    margin-bottom: 50px;
 }

.paginator {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    width: 375px;
    padding-bottom: 25px;
}

.paginator__list {
    display: flex;
    justify-content: space-between;
 }

.paginator__item {
    font-size: 16px;
 }

.paginator__link {
    font-weight: 700;
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding: 4px 11px;
    border-radius: 50%;
    cursor: pointer;
}

.paginator__link--active,
.paginator__link:active {
    background-color: #fff;
    width: 32px;
    height: 32px;
    padding: 4px 11px;
    color: #f5170e;
    border-radius: 50%;
}

.about-us__title {
    color: #000;
    font-size: 36px;
    margin-bottom: 40px;
}

.about-us__text {
    color: #060606;
    font-size: 16px;
    margin-bottom: 45px;
}

.about-us__container {
    width: 785px;
    margin-top: 100px;
    margin-left: -140px;
    background-image: url("../img/mountains.jpg");
    background-repeat: no-repeat;
    background-size: 785px;
    border-radius: 5px;
}

.about-us__content-block {
    padding-top: 75px;
    padding-left: 80px;
    padding-right: 192px;
    padding-bottom: 66px;
}

.picture {
    display: flex;
}

.picture:before {
    content: "";
    align-self: flex-start;
    background-image: url("../img/gates.jpg");
    background-repeat: no-repeat;
    background-size: 490px 505px;
    width: 490px;
    min-height: 505px;
    border-radius: 5px;
}

.about-us-wrapper {
    margin-bottom: 105px;
}

.page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.page-footer__nav-container {
    display: flex;
    gap: 79px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo-div {
    min-height: 85px;
    width: 36px;
}

.page-footer__contacts {
    display: flex;
    min-width: 450px;
    justify-content: space-between;
}

.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
}

.contacts__description {
    font-size: 11px;
    text-align: right;
    color: #9a9a9a;
    margin: 0;
    padding: 0;
}

.contacts__tel {
    min-width: 200px;
}

.line:before {
    content: "";
    display: block;
    width: 1142px;
    height: 4px;
    background-color: #fff;
    opacity: 0.1;
}

.share__link {
    display: block;
    width: 36px;
    height: 36px;
    background-size: 100%;
}

.share__link--tg {
    background-image: url("../img/t.png");
}

.share__link--tg:hover {
    background-image: url("../img/t-hover.png");
}

.share__link--vk {
    background-image: url("../img/vk.png");
}

.share__link--vk:hover {
    background-image: url("../img/vk-hover.png");
}

.share__link--fb {
    background-image: url("../img/fb.png");
}

.share__link--fb:hover {
    background-image: url("../img/fb-hover.png");
}

.share__link--inst {
    background-image: url("../img/in.png");
}

.share__link--inst:hover {
    background-image: url("../img/in-hover.png");
}