.partners__title {
    color: #1a1b1e;
    font-size: 48px;
    margin-bottom: 70px;
}

.partners {
    padding-top: 150px;
    padding-bottom: 120px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
}

.partners__link {
    filter: grayscale();
}

.partners__link--active,
.partners__link:hover {
    filter: none;
}

.partners__link {
    display: flex;
    min-width: 230px;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-end;
}

.partners__image {
    display: block;
}

.partners__image--ural {
    width: 300px;
    height: 19;
}

.partners__image--pobeda {
    width: 226;
    height: 37px;
}

.partners__image--s7 {
    width: 171px;
    height: 55px;
}

.partners__image--lets-fly {
    width: 222px;
    height: 67px;
}

.partners__image--lufthansa {
    width: 224px;
    height: 40px;
}

.partners__image--airbaltic {
    width: 185px;
    height: 43px;
}

.partners__image--pegasus {
    width: 179px;
    height: 33px;
}

.partners__image--pegas {
    width: 252px;
    height: 49px;
}
