.offers__title {
    margin-bottom: 50px;
}

.offers {
    margin-bottom: 121px;
}

.offers__list {
    display: flex;
    gap: 27px;
}

.offers__item {
    max-width: 362px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}