.page-header {
    min-height: 125px;
}

.page-header--main {
    margin-bottom: 46px;
}

.page-header__container {
    display: flex;
    align-items: flex-start;
    gap: 512px;
    padding-top: 30px;
} 

.page-header__menu-container {
    display: flex;
    gap: 80px;
}

.page-header__contacts {
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}