.picture {
    display: flex;
}

.picture:before {
    content: "";
    align-self: flex-start;
    background-image: url("../../img/gates.jpg");
    background-repeat: no-repeat;
    background-size: 490px 505px;
    width: 490px;
    min-height: 505px;
    border-radius: 5px;
}