.services-paginator__display {
    color: #000000;
}

.services-paginator__link {
    font-weight: 700;
    color: #000000;
}

.services-paginator__link--active,
.services-paginator__link:hover {
    background-color: #f5170e;
    color: #ffffff;
}